<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>南港區</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<div style="text-align:center;background-color:cornflowerblue;width:1425px;height:250px"><span style="font-size:1.2cm;font-family:serif;line-height: 250px;">板南線：南港區</span></div>

<div class="h1">
<h1>南港展覽館</h1>
<h1>南港</h1>
<h1>昆陽</h1>
</div>

<div id="content" style="width:1200px;height:500px;float:right;">
<h2>後山埤站:松山奉天宮</h2>
<img src="https://img.ltn.com.tw/Upload/news/600/2017/12/27/phpiInCRv.png" alt="松山奉天宮" >
</div>
</div>


</body>


</html>