<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>南港區</title>
</head>

<body>

<div style="text-align:center;background-color:cornflowerblue;width:1425px;height:250px"><span style="font-size:1.2cm;font-family:serif;line-height: 250px;">板南線：南港區</span></div>

<div>
<h1>南港展覽館</h1>
<h1>南港</h1>
</div>



<table style="width: 100%; border: 1px solid black;">
    <tr>
        <td style="width:20% ;background-color:#E3E3E3;">
             <span style="font-size:0.8cm;font-family:serif;line-height: 120px;">南港展覽館</span>
        </td>
        <td>
            <span style="text-align:left;font-size:1cm;font-family:serif;line-height: 120px;">南港區景點</span>
        </td>
    </tr>
    <tr>
        <td style="background-color:#E3E3E3;">
            <span style="font-size:0.8cm;font-family:serif;line-height: 120px;">南港</span>
        </td>
    </tr>
    <tr>
        <td style="background-color:#E3E3E3;">
            <span style="font-size:0.8cm;font-family:serif;line-height: 120px;">昆陽</span>
        </td>
    </tr>
</table>

</body>


</html>